#content {
    -fx-font-family: 'Gill sans mt';
}

#content #counterLabel {
    -fx-font-size: 220px;
    -fx-text-fill: grey;

}

#pane {
    -fx-font-size: 56px;
    -fx-font-weight: 700;
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-max-height: 800;
    -fx-max-width: 0;
}

.label {
    -fx-text-fill: grey;
    -fx-padding: 0 0 28px 0;
}

.button {
    -fx-background-color: grey;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: dodgerblue;
}

.button:hover {
    -fx-background-color: dodgerblue;
}

#menu {
    -fx-padding: 25px;
}